<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
    <link rel="icon" href="https://www.philips.com/favicon.ico" sizes="any" />
    <link rel="shortcut icon" href="https://www.philips.com/favicon.ico" />
    <link rel="stylesheet" href="{{ '/css/philips-blueprint.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/css/philips-live-qa.css' | relative_url }}" />
  </head>
  <body class="philips-microsite">
    <a class="skip-link" href="{{ page.skip_link | default: '#top' }}"
      >{{ page.skip_label | default: "Skip to content" }}</a
    >
    {% include philips-nav.html %} {{ content }} {% include philips-footer.html
    %} {% include site-scripts.html %}
    <script src="{{ '/js/philips.js' | relative_url }}"></script>
  </body>
</html>