<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
    <link rel="icon" href="{{ '/assets/brand/bol-favicon.svg' | relative_url }}" type="image/svg+xml" />
    <link rel="stylesheet" href="{{ '/css/site-nav.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/css/bol.css' | relative_url }}" />
  </head>
  <body class="bol-microsite">
    <a class="skip-link" href="{{ page.skip_link | default: '#top' }}"
      >{{ page.skip_label | default: "Skip to content" }}</a
    >
    {% include bol-nav.html %} {{ content }} {% include bol-footer.html %}
    {% include site-scripts.html %}
    <script src="{{ '/js/bol.js' | relative_url }}"></script>
  </body>
</html>
